# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive - Wojskowa Akademia Techniczna\Materiały\5 Sem\Programowanie w językach funkcyjnych\Projekt\ScheduleFormatter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
